<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
  <div class="nav-container">
    <h2 class="logo">HungDev</h2>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/about' | relative_url }}">About</a>
    </div>
  </div>
</nav>

<!-- HERO -->
<section class="hero">
  <h1>👋 Hi, tớ là Hùng</h1>
  <p>Flutter Developer | Spring Boot Backend</p>
  <a href="/projects" class="btn">Xem dự án 🚀</a>
</section>

<!-- CONTENT -->
<div class="container">
  {% if page.image %}
  <img src="{{ page.image }}" class="post-img">
{% endif %}
  {{ content }}
</div>

<footer class="footer">
  <p>© 2026 HungDev 🚀</p>
</footer>

</body>
</html>